 body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-top: 48px;
    line-height: 100%;
}

.logo{
    margin-left: -100px;
    margin-top: 30px;
    transform: translate(45%, -0%);
}

nav a {
    color: #242323;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 65px;
    align-items: center;
    margin-right: 100px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 1%;
    font-weight:0;}

.container {
    margin: 40px 100px;
}

.gray {
   width: 100vw;           
    height: 850px;
    background-color: #4e4e4e;
    margin: 20px 0;         
    margin-left: calc(-50vw + 50%);  
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 60px;
    justify-content: center;
    padding: 20px 50vw;
}

.buttonn{
    background-color:  rgb(255, 255, 255);
    border-radius: 500px;
    padding: 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top:90%;
    left: 25%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
 } 

 .buttonn:hover{
    cursor: pointer;
    background-color: #000000;
    color: azure;


 }

